.container {
  display: grid;
  max-width: 1200px;
  margin: auto;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  color: black
}

.janela {
  width: 183px; /* Largura calculada de cada janela */
  height: 200px; /* Altura especificada anteriormente */
  display: flex;
  flex-direction: column;  /* Organiza os elementos em coluna */
  align-items: center;  /* Centraliza os elementos horizontalmente */
  justify-content: center;  /* Centraliza os elementos verticalmente */
  background-color: #F3F7F8;
  box-shadow: 12px 12px 30px 0 rgba(172, 214, 226, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: #ACD6E2;
  border-radius: 10px;
  gap: 4px;
}