.headerContainer {
  height: 40px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.headerLeftElements,
.headerRightElements {
  font-size: 0.75rem;
  color: var(--text-100);
  padding-right: 2.5px;
}

.headerRightElements {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.dataGlobal {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-100);
  padding-right: 27.5px;
}

.iconButton,
.buttonRight {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconButton {
  padding-right: 30px;
}

.buttonRight {
  background-color: var(--primary-200);
  border-radius: 50px;
  height: 30px;
  width: 80px;
  margin-left: 20px;
}

.headerContainer::after {
  content: "";
  display: block; /* Garante que o pseudo-elemento é renderizado */
  position: absolute;
  left: 50%; /* Centraliza o elemento na tela */
  transform: translateX(-50%); /* Ajusta precisamente a posição central */
  height: 1px;
  width: 100vw; /* Faz o elemento ter a largura da viewport */
  background-color: var(--bg-300);
  top: 39px; /* Posiciona o pseudo-elemento na parte inferior do container */
}

.MoonFilled,
.CaretDownOutlined {
  font-size: 16px;
}
